<tr>
  <td bgcolor="#ff006f">
    <table border="0" cellpadding="0" cellspacing="0" width="100%" style="padding:2px">
      <tr class="">
        <td class="nav-left">
          <span class="pagetop">
            <b><a href="/" class="nav-link">osulist</a></b>&nbsp;
            <a href="/about" class="nav-link">about</a>
            {% if login['logged_in'] %}
            | <a href="/new_playlist" class="nav-link">new playlist</a>
            {% endif %}
          </span>
        </td>
        <td class="nav-right">
          <span class="pagetop">
            {% if login['logged_in'] %}
            <a id='me' href="/u/{{ login['user_id'] }}" class="nav-link">{{ login['user_name'] }}</a> |
            <a id='logout' href="/logout" class="nav-link">logout</a>
            {% else %}
            <a id='login' href='/login' class="nav-link">login</a>
            {% endif %}
          </span>
        </td>
      </tr>
    </table>
  </td>
</tr>