<html lang="en" op="news">
  <head>
    <meta name="referrer" content="origin">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="favicon.ico">
    <link href="{{ url_for('static', filename='styles/osulist-styles.css')}}" rel="stylesheet">

    <title>about | osulist</title>
  </head>
  <body style="max-width: 900px; margin: auto;">
    <center>
      <table id="olmain" border="0" cellpadding="0" cellspacing="0" width="100%" bgcolor="#f6eff0" style="background-color: #f6eff0">
        {% include 'common/navbar.html' %}
        <tr id="pagespace" title="" style="height:10px"></tr>
        <tr>
          <td>
            <table border="0" cellpadding="0" cellspacing="0" class="itemlist">
              <tr>
                <td class="playlist-item-top normal-text">
                  osulist is an online web application that lets you easily create and share playlists of individual osu! beatmap difficulties. If you have any bugs you would like to report, or if you would like to help contribute to the development of osulist, join our <a href="https://discord.gg/Gy5uHsq" class="a-text">Discord server</a>!
                </td>
              </tr>
              <tr><td><br></td></tr>
              <tr>
                <td class="playlist-item-top normal-text">
                  To create a new playlist, login using the 'login' button on the top right of the website. Once logged in, click on 'new playlist' on the navigation bar.
                </td>
              </tr>
              <tr>
                <td class="playlist-item-top normal-text">
                  osulist was developed by <a href="https://twitter.com/yi_feiri" class="a-text">Feiri</a>! :D
                </td>
              </tr>
              <tr>
                <td>
                  <br>
                </td>
              </tr>
            </table>
          </td>
        </tr>
        {% include 'common/footer.html' %}
      </table>
    </center>
  </body>
</html>
