<!doctype html>
<html lang="en">
	<head>
		<!-- load common meta tags -->
		{% include 'common/meta.html' %}		

		<!-- load common header -->
		{% include 'common/head.html' %}
		
		<!-- custom playlist files -->
		<link href="{{ url_for('static', filename='styles/playlist_styles.css')}}" rel="stylesheet">
		<script src="{{ url_for('static', filename='scripts/playlist.js')}}"></script>
		<script type="text/javascript">
			init_playlist( {{data|tojson}}, {{columns|tojson}}, {{pl_size|tojson}}, {{pl_desc|tojson}}, {{pl_title|tojson}}, {{pl_duration|tojson}}, {{pl_creator|tojson}} );
		</script>

		<title id="tab_title">osu!list</title>
	</head>
	<body>
		<div class="card nav_card page_container">
			<div>
				<a href="/"><b>osu!list</b></a>
			</div>
			<div>
				<a href="/"><b>login</b></a>
			</div>
		</div>
		<div class="page_container">
			<div class="card-group">
				<div class="card" style="max-width: 12.15em">
					<img src="https://lh3.googleusercontent.com/a-/AOh14Ghuij-NdmbDcxakDDvHu4Wp7OUnHhtBmKOKINZiOg=s600-k-no-rp-mo" class="playlist_cover">
				</div>
				<div class="card" style="overflow: hidden; text-overflow: ellipsis;">
					<div class="card-body">
						<h2 class="card-title"><b id="text_title">Card title</b></h2>
						<p class="card-subtitle text-muted">Created by 
							<b id="text_creator">None</b> &bull; 
							<b id="text_size">0</b> maps, 
							<b id="text_duration">duration</b></p>
						<p class="card-text"><i id="text_desc">none</i></p>
					</div>
				</div>
			</div>
			<div class="card">
				<div class="card_toolbar">
					<button>add</button>
				</div>
			</div>
			<div class="card">
				<div class="card_toolbar">
					<span class="fa fa-search form-control-feedback search_icon"></span>
					<input class="search_bar" id="custom_search" type="text" placeholder="search..." autocomplete="off">
				</div>
			</div>
			<table
				id="table"
				class="main_table table-sm table-striped">
			</table>
		</div>
	</body>
	<footer>
		<div class="page_container card page_footer">
			<div class="card-body">
				<a href="https://github.com/yfxu/osulist">source</a>
			</div>
		</div>
	</footer>
</html>