<html lang="en" op="news">
  <head>
    <meta name="referrer" content="origin">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="favicon.ico">
    <link href="{{ url_for('static', filename='styles/osulist-styles.css')}}" rel="stylesheet">

    <title>error | osulist</title>
  </head>
  <body style="max-width: 900px; margin: auto;">
    <center>
      <table id="olmain" border="0" cellpadding="0" cellspacing="0" width="100%" bgcolor="#f6eff0" style="background-color: #f6eff0">
        {% include 'common/navbar.html' %}
        <tr id="pagespace" title="" style="height:10px"></tr>
        <tr>
          <td>
            <table border="0" cellpadding="0" cellspacing="0" class="itemlist">
              <tr>
                <td class="playlist-item-top normal-text">
                  {{ error['code'] }} - {{ error['name'] }}
                </td>
              </tr>
              <tr>
                <td class="playlist-item-top normal-text">
                  woops there has been an error
                </td>
              </tr>
              <tr>
                <td>
                  <br>
                </td>
              </tr>
            </table>
          </td>
        </tr>
        {% include 'common/footer.html' %}
      </table>
    </center>
  </body>
</html>
