<html lang="en" op="news">
  <head>
    <meta name="referrer" content="origin">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="favicon.ico">
    <link href="{{ url_for('static', filename='styles/osulist-styles.css')}}" rel="stylesheet">
    <title>osulist</title>
  </head>
  <body style="max-width: 1440px; margin: auto;">
    <center>
      <table id="olmain" border="0" cellpadding="0" cellspacing="0" width="100%" class="page-background">
        {% include 'common/navbar.html' %}
        <table border="0" cellpadding="4" cellspacing="0" class="itemlist" width="100%">
          <tr>
            <td class="page-banner playlist-item-top playlist-title-link">
              <b>{{ banner_text }}</b> 
              {% if not login['logged_in'] %}
              | You must be logged in to create playlists
              {% endif %}
            </td>
          </tr>
          {% include 'common/pink_line.html' %}
        </table>
      </table>
      <table id="olmain" border="0" cellpadding="0" cellspacing="0" width="100%" class="page-background">
        <tr>
          <td>
            <table border="0" cellpadding="0" cellspacing="0" class="itemlist" width="100%">
              {% if q != '' and not no_results %}
              <tr>
                <td class="playlist-item-top playlist-details">
                    sort by: 
                    <form action="/" method="GET" style="display: inline-block;">
                      <input type="hidden" name="q" value="{{ q }}">
                      <input type="hidden" name="sort" value="new">
                      <input type="submit" value="new" class="submit-link">
                    </form>
                    | <form action="/" method="GET" style="display: inline-block;">
                      <input type="hidden" name="q" value="{{ q }}">
                      <input type="hidden" name="sort" value="old">
                      <input type="submit" value="old" class="submit-link">
                    </form>
                </td>
              </tr>
              <tr>
                <td>
                  <hr class="thin-line">
                </td>
              </tr>
              {% endif %}
            </table>
            <table border="0" cellpadding="0" cellspacing="0" class="itemlist" width="100%">            
              {% if no_results %}
              <tr class="index-row-even">
                <td class="playlist-item-top normal-text medium-line-spacing">
                   no results found for "{{ q }}"
                </td>
              </tr>
              {% endif %}
              {% for x in data %}
              <tr class="index-row-{{ loop.cycle( 'even', 'odd' ) }}">
                <td class="playlist-item-top">
                  <a href="/p/{{ x['playlist_id'] }}/" class="playlist-title-link">{{ x['playlist_title'] }}</a>
                </td>
              </tr>
              <tr class="playlist-details index-row-{{ loop.cycle( 'even', 'odd' ) }}">
                <td class="playlist-item-bottom">
                  created by <a href="/u/{{ x['playlist_creator_id'] }}" class="playlist-details-link">{{ x['playlist_creator_name'] }}</a> 
                  | {{ x['playlist_size'] }} maps 
                  | {{ x['playlist_timestamp'] }}
                  | <a href="/p/{{ x['playlist_id'] }}" class="playlist-details-link">permalink</a>
                  {% if x['playlist_creator_id'] == login['user_id'] %}
                  | <a href="/p/{{ x['playlist_id'] }}/edit/" class="playlist-details-link">edit</a>
                  | <a href="/p/{{ x['playlist_id'] }}/add/" class="playlist-details-link">add</a>
                  {% endif %}
                </td>
              </tr>
              {% endfor %}
            </table>
          </td>
        </tr>
        <table border="0" cellpadding="0" cellspacing="0" class="itemlist" width="100%">
          <tr>
            <td>
              <hr class="thin-line">
            </td>
          </tr>
        </table>
        <table border="0" cellpadding="0" cellspacing="0" class="itemlist" width="100%">
          <tr>
            <td class="playlist-item-top playlist-details nav-left">
              <span>
                {% for i in range( pages ) %}
                {% if i + 1 == page %}
                <u><a href="/?page={{ i + 1 }}" class="playlist-details-link">{{ i + 1 }}</a></u>
                {% else %}
                <a href="/?page={{ i + 1 }}" class="playlist-details-link">{{ i + 1 }}</a>
                {% endif %}
                {% endfor %}
              </span>
            </td>
            <td class="playlist-item-top playlist-details nav-right">
              <span>
                showing {{ playlists_count }} out of {{ results_count }} playlists
              </span>
            </td>
          </tr>
        </table>
        {% include 'common/footer.html' %}
      </table>
    </center>
  </body>
</html>
