<html lang="en" op="news">
  <head>
    <meta name="referrer" content="origin">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="favicon.ico">
    <link href="{{ url_for('static', filename='styles/osulist-styles.css')}}" rel="stylesheet">
    <title>Edit: {{ pl['title'] }} | osulist</title>
  </head>
  <body>
    <center>
      <table id="olmain" border="0" cellpadding="0" cellspacing="0" width="100%" bgcolor="#f6eff0" style="background-color: #f6eff0">
        <tr>
          <td bgcolor="#ff006f">
            <table border="0" cellpadding="0" cellspacing="0" width="100%" style="padding:2px">
              <tr class="">
                <td class="nav-left">
                  <span class="pagetop">
                    <b><a href="/" class="nav-link">osulist</a></b>&nbsp;
                    <a href="/" class="nav-link">about</a>
                  </span>
                </td>
                <td class="nav-right">
                  <span class="pagetop">
                    {% if login['logged_in'] %}
                    <a id='me' href="https://osu.ppy.sh/users/{{ login['user_id'] }}" class="nav-link">{{ login['user_name'] }}</a> |
                    <a id='logout' href="/logout" class="nav-link">logout</a>
                    {% else %}
                    <a id='login' href='/login' class="nav-link">login</a>
                    {% endif %}
                  </span>
                </td>
              </tr>
            </table>
          </td>
        </tr>
        <tr id="pagespace" title="" style="height:10px"></tr>
        <tr>
          <td>
            <table border="0" cellpadding="2" cellspacing="0" class="itemlist">
              <form action="/p/{{ pl['id'] }}/edit" method="POST">
                <tr>
                  <td class="playlist-item-top playlist-title-link">
                    title:
                  </td>
                  <td>
                    <input type="text" name="title" value="{{ pl['title'] }}" required minlength="1" maxlength="50">
                  </td>
                </tr>
                <tr>
                  <td class="playlist-item-top playlist-title-link">
                    description:
                  </td>
                  <td>
                    <textarea type="text" name="desc" cols="60" rows="5" wrap="virtual" maxlength="500">{{ pl['desc'] }}</textarea>
                  </td>
                </tr>
                <tr>
                  <td>&nbsp;</td>
                  <td>
                    <input type="submit" name="submit" value="Submit">
                  </td>
                </tr>
              </form>
              <tr>
                <td>
                  <br><br><br><br><br><br>
                </td>
              </tr>
              <form action="/p/{{ pl['id'] }}/delete" method="POST">
                <tr>
                  <td class="playlist-item-top playlist-title-link">
                    delete:
                  </td>
                  <td>
                    <input class="danger" type="submit" name="delete" value="Delete Playlist" onclick="return confirm('Are you sure? This playlist will be deleted and you will be redirected to the home page.')">
                  </td>
                </tr>
              </form>
              <table id="playlist-table" class="playlist-table display compact" style="width: 99%"></table>
            </table>
            <br>
          </td>
        </tr>
        <tr>
          <td>
            <table border="0" cellpadding="2" cellspacing="0" class="itemlist">
              
            </table>
          </td>
        </tr>
        <tr>
          <td>
            <table width="100%" cellspacing="0" cellpadding="1">
              <tr>
                <td bgcolor="#ff006f"></td>
              </tr>
            </table>
            <br>
            <center>
              <span class="yclinks footer-link">
                <a href="https://github.com/yfxu/osulist" class="footer-link">source</a>
                | <a href="https://discord.gg/Gy5uHsq" class="footer-link">discord</a>
              </span>
              <br><br>
            </center>
          </td>
        </tr>
      </table>
    </center>
  </body>
</html>
