<html lang="en" op="news">
  <head>
    <meta name="referrer" content="origin">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="favicon.ico">

    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>

    <!-- DataTables -->
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.22/css/jquery.dataTables.min.css">
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js"></script>
    <link href="https://nightly.datatables.net/responsive/css/responsive.dataTables.css?_=0733d80df58ca2854b640850303e9ae6.css" rel="stylesheet" type="text/css" />
    <script src="https://nightly.datatables.net/responsive/js/dataTables.responsive.js?_=0733d80df58ca2854b640850303e9ae6"></script>

    <!-- zip.js -->
    <script type="text/javascript" src="{{ url_for('static', filename='scripts/zip.min.js')}}"></script>

    <script src="{{ url_for('static', filename='scripts/load-playlist.js')}}"></script>
    <link href="{{ url_for('static', filename='styles/osulist-styles.css')}}" rel="stylesheet">
    <script type="text/javascript">
      init_playlist( {{data|tojson}}, {{columns|tojson}} );
    </script>
    <script src="{{ url_for('static', filename='scripts/download-playlist.js')}}"></script>
    <title>{{ pl['title'] }} | osulist</title>
  </head>
  <body style="max-width: 1440px; margin: auto;">
    <center>
      <table id="olmain" border="0" cellpadding="0" cellspacing="0" width="100%" class="page-background">
        {% include 'common/navbar.html' %}
        <table border="0" cellpadding="4" cellspacing="0" class="itemlist" width="100%">
          <tr>
            <td class="page-banner playlist-item-top playlist-title-link banner-left">
              <span>
                <b>{{ pl['title'] }}</b> | created by <a href="/u/{{ pl['creator_id'] }}" class="banner-link">{{ pl['creator'] }}</a>  
              </span>
            </td>
            {% if owner %}
            <td class="page-banner playlist-item-top playlist-title-link banner-right">
              <span>
                <a href="/p/{{ pl['id'] }}/edit" class="banner-button">edit</a>
                <a href="/p/{{ pl['id'] }}/add" class="banner-button">add</a>
              </span>
            </td>
            {% endif %}
          </tr>
          <td class="page-banner playlist-item-top playlist-title-link banner-left">
              <span>
                <button onclick="download_playlist()">Download as zip</button>
                <progress id="download-progress-bar" style="display: none;"></progress>
              </span>
          </td>
          {% include 'common/pink_line.html' %}
        </table>
      </table>
      <table border="0" cellpadding="0" cellspacing="0" class="itemlist" width="100%" class="page-background">
        <tr>
          <td class="playlist-item-top playlist-details"> 
            {{ pl['size'] }} maps | {{ pl['duration'] }} | {{ pl['timestamp'] }}
          </td>
        </tr>
        <tr>
          <td>
            <hr class="thin-line">
          </td>
        </tr>
        <tr>
          <td class="playlist-item-top playlist-details">
            {{ pl['desc'] }}
          </td>
        </tr>
      </table>
      <table border="0" cellpadding="4" cellspacing="0" class="itemlist" width="100%" class="page-background">
        <tr>
          <td>
            <table border="0" cellpadding="0" cellspacing="0" class="itemlist" width="100%">
              <iframe name="dummyframe" id="dummyframe" style="display: none;"></iframe>
              <table id="playlist-table" class="playlist-table display compact" style="width: 99%"></table>
            </table>
            <br>
          </td>
        </tr>
        {% include 'common/footer.html' %}
      </table>
    </center>
  </body>
</html>
