<html lang="en" op="news">
  <head>
    <meta name="referrer" content="origin">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="favicon.ico">
    
    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>

    <!-- DataTables -->
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.22/css/jquery.dataTables.min.css">
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js"></script>
    <link href="https://nightly.datatables.net/responsive/css/responsive.dataTables.css?_=0733d80df58ca2854b640850303e9ae6.css" rel="stylesheet" type="text/css" />
    <script src="https://nightly.datatables.net/responsive/js/dataTables.responsive.js?_=0733d80df58ca2854b640850303e9ae6"></script>

    <script src="{{ url_for('static', filename='scripts/load-playlist.js')}}"></script>
    <script type="text/javascript">
      init_playlist( {{data|tojson}}, {{columns|tojson}} );
    </script>
    <link href="{{ url_for('static', filename='styles/osulist-styles.css')}}" rel="stylesheet">

    <title>{{ pl['title'] }} | osulist</title>
  </head>
  <body>
    <center>
      <table id="olmain" border="0" cellpadding="0" cellspacing="0" width="100%" bgcolor="#f6eff0" style="background-color: #f6eff0">
        <tr>
          <td bgcolor="#ff006f">
            <table border="0" cellpadding="0" cellspacing="0" width="100%" style="padding:2px">
              <tr class="">
                <td class="nav-left">
                  <span class="pagetop">
                    <b><a href="/" class="nav-link">osulist</a></b>
                    <a href="/" class="nav-link">about</a>
                  </span>
                </td>
                <td class="nav-right">
                  <span class="pagetop">
                    <a id='me' href="user?id=feiri" class="nav-link">feiri</a> |
                    <a id='logout' href="logout?auth=d5419a765ebc93eefa92b1c5d3fb3d12326f65b9&amp;goto=news%3Fp%3D5" class="nav-link">logout</a>
                  </span>
                </td>
              </tr>
            </table>
          </td>
        </tr>
        <tr id="pagespace" title="" style="height:10px"></tr>
        <tr>
          <td>
            <table border="0" cellpadding="0" cellspacing="0" class="itemlist">
              <tr>
                <td class="playlist-item-top">
                  <a href="/p/{{ pl['id'] }}" class="playlist-title-link">{{ pl['title'] }}</a>
                </td>
              </tr>
              <tr class="playlist-details">
                <td class="playlist-item-bottom">
                  <a href="https://osu.ppy.sh/users/{{ pl['creator_id'] }}" class="playlist-details-link">{{ pl['creator'] }}</a> | 
                  {{ pl['size'] }} maps | 
                  {{ pl['duration'] }}
              	</td>
              </tr>
              <tr class="playlist-details">
                <td class="playlist-item-bottom"> 
                  {{ pl['desc'] }}</td>
              </tr>
              <tr>
                <td><br></td>
              </tr>
              <table id="playlist-table" class="playlist-table display compact" style="width: 99%"></table>
            </table>
            <br>
          </td>
        </tr>
        <tr>
          <td>
            <table width="100%" cellspacing="0" cellpadding="1">
              <tr>
                <td bgcolor="#ff006f"></td>
              </tr>
            </table>
            <br>
            <center>
              <span class="yclinks footer-link">
                <a href="https://github.com/yfxu/osulist" class="footer-link">source</a>
                | <a href="https://discord.gg/Gy5uHsq" class="footer-link">discord</a>
              </span>
              <br><br>
            </center>
          </td>
        </tr>
      </table>
    </center>
  </body>
</html>
