<html lang="en" op="news">
  <head>
    <meta name="referrer" content="origin">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="favicon.ico">
    <link href="{{ url_for('static', filename='styles/osulist-styles.css')}}" rel="stylesheet">
    <title>add: {{ pl['title'] }} | osulist</title>
  </head>
  <body style="max-width: 1440px; margin: auto;">
    <center>
      <table id="olmain" border="0" cellpadding="0" cellspacing="0" width="100%" bgcolor="#f6eff0" style="background-color: #f6eff0">
        {% include 'common/navbar.html' %}
        <table border="0" cellpadding="4" cellspacing="0" class="itemlist" width="100%">
          <tr>
            <td class="page-banner playlist-item-top playlist-title-link">
              <b>adding: {{ pl['playlist_title'] }}</b> 
              | {{ pl['playlist_size'] }} maps
            </td>
          </tr>
          {% include 'common/pink_line.html' %}
        </table>
      </table>
      <table id="olmain" border="0" cellpadding="0" cellspacing="0" width="100%" class="page-background">
        <tr>
          <td>
            <table border="0" cellpadding="0" cellspacing="0" class="itemlist">
              <tr>
                <td class="playlist-item-top playlist-details">
                  <a href="/p/{{ pl['playlist_id'] }}" class="playlist-details-link">{{ pl['playlist_title'] }}</a>
                  &nbsp;>&nbsp;<a href="/p/{{ pl['playlist_id'] }}/add" class="playlist-details-link">add</a>
                </td>
              </tr>
            </table>
          </td>
        </tr>
        <tr>
          <td>
            <table border="0" cellpadding="2" cellspacing="0" class="itemlist">
              <form action="/p/{{ pl['playlist_id'] }}/add/" method="POST">
                <tr>
                  <td class="playlist-item-top playlist-title-link">
                    beatmap ID or link:
                  </td>
                  <td>
                    <input type="text" name="beatmap_str" size="50" maxlength="75">
                  </td>
                </tr>
                <tr>
                  <td>&nbsp;</td>
                  <td>
                    <input type="submit" name="submit" value="Add">
                  </td>
                </tr>
              </form>
              <tr>
                <td>&nbsp;</td>
                <td class="playlist-item-top playlist-title-link">{{ status_msg }}</td>
              </tr>
              <table id="playlist-table" class="playlist-table display compact" style="width: 99%"></table>
            </table>
          </td>
        </tr>
        {% include 'common/footer.html' %}
      </table>
    </center>
  </body>
</html>
