<html lang="en" op="news">
  <head>
    <meta name="referrer" content="origin">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="favicon.ico">
    <link href="{{ url_for('static', filename='styles/osulist-styles.css')}}" rel="stylesheet">
    <title>{{ display_name }}'s profile | osulist</title>
  </head>
  <body style="max-width: 900px; margin: auto;">
    <center>
      <table id="olmain" border="0" cellpadding="0" cellspacing="0" width="100%" bgcolor="#f6eff0" style="background-color: #f6eff0">
        {% include 'common/navbar.html' %}
        <tr id="pagespace" title="" style="height:10px"></tr>
        <tr>
          <td>
            <table border="0" cellpadding="2" cellspacing="0" class="itemlist">
              <tr>
                <td class="playlist-item-top playlist-title-link">
                  user:
                </td>
                <td class="playlist-item-top playlist-title-link">
                  <a href="https://osu.ppy.sh/users/{{ user_id }}" class="playlist-title-link">{{ display_name }}</a>
                </td>
              </tr>
              <tr>
                <td class="playlist-item-top playlist-title-link">
                  no. of playlists:
                </td>
                <td class="playlist-item-top playlist-title-link">
                  {{ num_playlists }}
                </td>
              </tr>
              <tr>
                <td class="playlist-item-top playlist-title-link" style="vertical-align: top;">
                  playlists:
                </td>
                <td>
                  <table border="0" cellpadding="2" cellspacing="0" class="itemlist">
                    {% for x in data %}
                    <tr>
                      <td class="playlist-item-top">
                        <a href="/p/{{ x['playlist_id'] }}" class="playlist-title-link">{{ x['playlist_title'] }}</a>
                      </td>
                    </tr>
                    <tr class="playlist-details">
                      <td class="playlist-item-bottom">
                        created by <a href="/u/{{ x['playlist_creator_id'] }}" class="playlist-details-link">{{ x['playlist_creator_name'] }}</a> | 
                        {{ x['playlist_size'] }} maps</td>
                    </tr>
                    {% endfor %}
                  </table>
                </td>
              </tr>
              <table id="playlist-table" class="playlist-table display compact" style="width: 99%"></table>
            </table>
            <br>
          </td>
        </tr>
        {% include 'common/footer.html' %}
      </table>
    </center>
  </body>
</html>
