<html lang="en" op="news">
  <head>
    <meta name="referrer" content="origin">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="favicon.ico">
    <link href="{{ url_for('static', filename='styles/osulist-styles.css')}}" rel="stylesheet">

    <title>unauthorized | osulist</title>
  </head>
  <body style="max-width: 1440px; margin: auto;">
    <center>
      <table id="olmain" border="0" cellpadding="0" cellspacing="0" width="100%" class="page-background">
        {% include 'common/navbar.html' %}
        <table border="0" cellpadding="4" cellspacing="0" class="itemlist" width="100%">
          <tr>
            <td class="page-banner playlist-item-top playlist-title-link">
              <b>Unauthorized</b>
            </td>
          </tr>
          {% include 'common/pink_line.html' %}
        </table>
      </table>
      <table id="olmain" border="0" cellpadding="0" cellspacing="0" width="100%" class="page-background">
        <tr>
          <td>
            <table border="0" cellpadding="0" cellspacing="0" class="itemlist">
              <tr>
                <td class="playlist-item-top normal-text">
                  An action could not be completed because the logged-in user was not authorized to perform it.
                </td>
              </tr>
            </table>
          </td>
        </tr>
        {% include 'common/footer.html' %}
      </table>
    </center>
  </body>
</html>
