<html lang="en" op="news">
  <head>
    <meta name="referrer" content="origin">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="favicon.ico">
    <link href="{{ url_for('static', filename='styles/osulist-styles.css')}}" rel="stylesheet">

    <title>Unauthorized | osulist</title>
  </head>
  <body>
    <center>
      <table id="olmain" border="0" cellpadding="0" cellspacing="0" width="100%" bgcolor="#f6eff0" style="background-color: #f6eff0">
        <tr>
          <td bgcolor="#ff006f">
            <table border="0" cellpadding="0" cellspacing="0" width="100%" style="padding:2px">
              <tr class="">
                <td class="nav-left">
                  <span class="pagetop">
                    <b><a href="/" class="nav-link">osulist</a></b>&nbsp;
                    <a href="/" class="nav-link">about</a>
                  </span>
                </td>
                <td class="nav-right">
                  <span class="pagetop">
                    {% if login['logged_in'] %}
                    <a id='me' href="https://osu.ppy.sh/users/{{ login['user_id'] }}" class="nav-link">{{ login['user_name'] }}</a> |
                    <a id='logout' href="/logout" class="nav-link">logout</a>
                    {% else %}
                    <a id='login' href='/login' class="nav-link">login</a>
                    {% endif %}
                  </span>
                </td>
              </tr>
            </table>
          </td>
        </tr>
        <tr id="pagespace" title="" style="height:10px"></tr>
        <tr>
          <td>
            <table border="0" cellpadding="0" cellspacing="0" class="itemlist">
              <tr>
                <td class="playlist-item-top">
                  Unauthorized
                </td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
    </center>
  </body>
</html>
